<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apptxng">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTXNG"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.UpdateFactoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.InsertFactoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.FactoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.InsertHistoryProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChangeInfoFarmerActivity"
            android:exported="false" />
        <activity
            android:name=".view.InfoFarmerActivity"
            android:exported="false" />
        <activity
            android:name=".view.UpdateProductFarmerActivity"
            android:exported="false" />
        <activity
            android:name=".view.DetailProductFarmerActivity"
            android:exported="false" />
        <activity
            android:name=".view.InsertProductFarmerActivity"
            android:exported="false" />
        <activity
            android:name=".view.TypeFactory__Activity"
            android:exported="false" />
        <activity
            android:name=".view.Balance_Admin_Activity"
            android:exported="false" />
        <activity
            android:name=".view.Products_Admin_Activity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.FarmerActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminActivity"
            android:exported="false" />
    </application>

</manifest>